 <!--
  <div class="container">
    <div class='blog-post'>
      <h1>First post</h1>

      <p class='date'>
        1 December 2019
      </p>
      <p>
        <strong>Lorem ipsum dolor sit amet</strong>,
        consectetuer adipiscing elit.
        <em>Aenean commodo ligula eget dolor. </em>
        <u>Aenean massa. </u>
        <img src='assets/flower.jpeg'>

        <p id='author-text'> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<br>
          Donec quam felis,
          ultricies nec,</p> pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
        fringilla vel,
        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
        felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
        <p class='main-text'>
          eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
          dapibus
        </p>
        in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean
        augue velit cursus nunc,
      </p>
    </div>
    <div class='other-posts'>
      <div class='other'>
        first
      </div>
      <div class='other'>
        second
      </div>
      <div class='other'>
        third
      </div>
      <h2>h2</h2>

      <p>
        <img src="assets/images.jpeg">

        <p>Random user</p>
      </p>
    </div>

    <div class='clearfix'></div>

    <div class='author-post'>
      <p class='author-text'>
        <a href="http://www.udemy.com" target='_blank'>Link to udemy</a>
        <p>
          <img src='assets/avatar.jpg' alt='avatar'>
          <a href="assets/flower.jpeg" target='_blank'>Flower</a>
        </p>
      </p>
    </div>
  </div>
  <app-root></app-root>
-->
<h1>Suggested rulles</h1>
<p style="font-size: 22px">fonts: use 22px size for regular text</p>
<hr>

<p style="font-size: 90px">fonts: use 90px size for headlines</p>
<hr>
<div>
  <p style=' line-height: 100%'>this line space is 100%</p>
  <p style=' line-height: 100%'>this line space is 100%</p>
  <p style=' line-height: 100%'>this line space is 100%</p>
  <br>
  <p style=' line-height: 150%'>this line space is 150%</p>
  <p style=' line-height: 150%'>this line space is 150%</p>
  <p style=' line-height: 150%'>this line space is 150%</p>
  <br>
  <h4>line spaces should be around 150%</h4>
    <br>
    <p style=' line-height: 200%'>this line space is 200%</p>
    <p style=' line-height: 200%'>this line space is 200%</p>
    <p style=' line-height: 200%'>this line space is 200%</p>
</div>
<hr>
<br>
<p style="font-family: Serif">Use good fonts</p>
<p style="font-family: Sanf-Serif">and avoid using bad fonts</p>
<br>
<hr>
<h3>Colors</h3>
<p>
  Choose base colors
  meaning for colors
  <div>
    <li>
      Red is a great color to use when power, passion, strength and excitement want to be transmitted. Brighter tones
      are more energetic and darker shades are more powerful and elegant.
    </li>
    <li>
      Orange draws attention without being as overpowering as red. It means cheerfulness and creativity. Orange can be
      associated with friendliness, confidence, and courage.
    </li>
    <li>
      Yellow is energetic and gives the feeling of happiness and liveliness. Also, it associates with curiosity,
      intelligence, brightness, etc.
    </li>
    <li>
      Green is the color of harmony, nature, life and health. Also, it is often associated with money. In design,
      green can have a balancing and harmonizing effect.
    </li>
    <li>
      Blue means patience, peace, trustworthiness, and stability. It is one of the most beloved colors, especially by
      men. It is associated with professionalism, trust and honor. That's actually why the biggest social networks use
      blue.
    </li>
    <li>
      Purple is traditionally associated with power, nobility and wealth. In your design, purple can give a sense of
      wisdom, royalty, nobility, luxury, and mystery.
    </li>
    <li>
      Pink expresses romance, passivity, care, peace, affection, etc.
    </li>
    <li>
      Brown is the color of relaxation and confidence. Brown means earthiness, nature, durability, comfort, and
      reliability.
    </li>
</div>
<img src="./assets/colors.png">