header{
    background-image: url('../assets/hero.jpg');
    background-size: cover;         /*вся картинка*/
    background-position: center;    /*вся картинка по центру*/
    height: 100vh;                  /*весь видимый объем*/
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);           /*центрует ёлемент*/
}

h1{
    margin: 0;
}