* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color:  #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}
/* HEADING */
h1, h2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1{
    color: #fff;
    font-size: 240%;            /*asap app font-size is fixed, we use relative sizes*/
    margin-top: 0;
    margin-bottom: 20px;
    word-spacing: 4px;
}

h2 { 
 font-size: 180%;
 margin-bottom: 30px;
 text-align: center;
 word-spacing: 2px;
}

h2::after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: ' ';
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}